body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.input-container {
    display: flex;
    gap: 10px; /* Space between the input field and button */
    margin-bottom: 20px;
}

#input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #817c77;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #75642c;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 8px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
    margin-left: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}